Home.jsp

<%@ page language="java" contentType="text/html; charset=ISO-8859-1"
    pageEncoding="ISO-8859-1"%>
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>HospitalInformationSystems</title>
</head>
<body background="images/bc1.jpg">
<br/><br/><br/>
<br/><br/><br/> 
 <center>
          <a href="Home.jsp"><span>Home Page</span></a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <a href="PatientLogin.jsp"><span>Patient</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="AdminLogin.jsp"><span>Admin</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           <a href="HospitalStaff.jsp"><span>Hospital Staff</span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   
         </center>
<br/>
</body>
</html>
